
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
	background-color: rgb(135, 255, 131);
}
html {
	font-size: 16px; /* по умолчанию */
}

.wrapper {
	
}
.car{
	background: url('../img/1.jpg');
	height: 820px;
	width: 1200px;
	margin: 0 auto;
}

.car__body:hover {
	transform: translate(300px, 0px);
}
.car__top {
}
.car__window-1 {
	
	height: 250px;
	width: 200px;
	border-radius: 70px 0px 0px 0px;
	position: relative;
	top: 450px;
	left: 416px;
	z-index: 3;
	display: inline-block;
	background-color: crimson;
	border-left: 2px solid rgba(0, 0, 0, 0.171);

}

.window-1 {
	height: 100px;
	width: 180px;
	background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgb(73, 72, 72) 50%,rgb(255, 255, 255) 51%,rgb(68, 68, 68) 60%,rgba(43,43,43,1) 76%,rgb(61, 61, 61) 91%,rgb(97, 97, 97) 100%);
	position: relative;
	top: 5px;
	left: 10px;
	border-radius: 70px 0px 0px 0px;
	border: 1px solid black;
}
.window-2 {
	height: 100px;
	width: 180px;
	background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
	position: relative;
	top: 5px;
	left: 10px;
	border-radius: 0px 70px 0px 0px;
	border: 1px solid black;
}
.car__window-2 {
	background-color: crimson;
	height: 250px;
	width: 204px;
	border-radius: 0px 90px 0px 0px;
	position: relative;
	top: 450px;
	left: 412px;
	z-index: 10;
	display: inline-block;
	border-left: 2px solid rgba(0, 0, 0, 0.171);
	border-right: 2px solid rgba(0, 0, 0, 0.171);

}

.car__carcass {
	height: 150px;
	width: 860px;
	background-color: crimson;
	position: relative;
	top: 300px;
	left: 200px;
	border-radius: 55px 55px 0px 0px;
}
.wheels {
	
}
.wheel-1 {
	position: relative;
	left: 820px;
	display: inline-block;
	top: 220px;
}
.wheel__tires:hover {
	transform: rotate(360deg);
}
.wheel-2 {
	position: relative;
	left: 60px;
	display: inline-block;
	top: 220px;
}
.wheel__invisible-cirkle {
	height: 176px;
	width: 176px;
	border-radius: 50%;
	background: rgba(205, 214, 219, 0);
	z-index: 9;
	
	
}


.wheel__tires {
	height: 168px;
	width: 168px;
	background-color: rgba(0, 0, 255, 0);
	border: 15px solid black;
	border-radius: 50%;
	position: relative;
	top: 8px;
	left: 4px;
	background: url('../img/tires.png') center/150px 150px   no-repeat, url('../img/brake.png') center/150px 150px no-repeat;
}
.wheel__tires:hover {
	transform: rotate(45deg);
}
.doors-knob-1{
	height: 10px;
	width: 40px;
	background-color: rgb(0, 0, 0);
	position: relative;
	top: 20px;
	left: 10px;
	border-radius: 50%;
}
.doors-knob-2{
	height: 10px;
	width: 40px;
	background-color: rgb(0, 0, 0);
	position: relative;
	top: 20px;
	left: 10px;
	border-radius: 50%;
}
.header {
}
.main {

}